$ff-s:'Merriweather', serif;
$ff-ss: 'six Caps', sans-serif;
$letter-spacing: 10px;

$fw-n: 400;
$fw-b: 900;

$white: #FFFFFF;
$light-brown: #FFE3BE;
$brown: #715D41;
$dark-brown: #B2813F;
$accent: #D37900;
$very-dark-brown: #2A1800; 

@mixin sans-serif ($fs, $ls: .15em, $color: $brown, $tt: uppercase, $lh: 1 ) {
    font-size: $fs;
    letter-spacing: $ls;
    color: $color;
    text-transform: $tt;
    line-height: $lh;
    font-family: $ff-ss;
    font-weight: $fw-n;
}

.welcome {
  background-image: url(https://user-images.githubusercontent.com/34121390/36926638-b70f17e2-1e2d-11e8-8dda-460253aab8a0.png);
  height:100vh;
  display: flex;
  background-size: cover;
  background-position: center;
 align-items: center;
 justify-content: center;

  
  h1 { font-size: 1.5rem;
      font-weight:$fw-n;
      color: $dark-brown;
      line-height: 2;
      text-align: center;
      
      span {  @include sans-serif($fs: 5.5rem);
        display: block;
      
    }
  
    &::before, &::after{ content: '';
      display: block;
      width: 60%;
      height: 1px;
      background: $dark-brown;
    }
    &::before { margin:0 auto 2em;}
    &::after { margin: 2em auto 0;}
  }
    
}



